.login1 {
    min-height: 100vh;
    min-height: 100dvh;
    width: 100%;

    /* Center all children */
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}
